@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
  
  body {
    @apply bg-white text-gray-900 m-0 p-0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

